<div>
    <small>Keep track of your budget and see where everything is going!</small>
</div>
<hr>
</hr>
</header>
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box notification is-success">
            <p class="title">{{ incomes | currencyFormat }}</p>
            <p class="subtitle">Incomes</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box notification is-danger">
            <p class="title">-{{ expenses | currencyFormat }}</p>
            <p class="subtitle">Expenses</p>
        </article>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent ">
        <article class="tile is-child box ">
            <p class="title">{{ investments | currencyFormat }}</p>
            <p class="subtitle">Investments</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">{{ savings }}%</p>
            <p class="subtitle">Saved</p>
        </article>
    </div>
</div>