<div>
    <h2>Budget</h2>
    <small>Keep track of your budget and see where everything is going!</small>
</div>
<hr>
</hr>
</header>
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box notification is-success">
            <p class="title">329</p>
            <p class="subtitle">Incomes</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box notification is-danger">
            <p class="title">-20 %</p>
            <p class="subtitle">Expenses</p>
        </article>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent ">
        <article class="tile is-child box ">
            <p class="title">329</p>
            <p class="subtitle">Invested</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">+20 %</p>
            <p class="subtitle">Saved</p>
        </article>
    </div>
</div>