@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

// Set your brand colors
$blue: #00509D;
$grey: #171717;
$orange: #FF7D00;
$beige-light: #8bb411;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $blue;
$grey-light: $beige-light;
$primary: $blue;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Navbar customization
$navbar-background-color: $grey;
$navbar-item-hover-background-color: $grey;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";