<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="#" class="navbar-item">
            <h1 class="title is-5">recon</h1>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbar-example">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <p>Username</p>
        </div>

        <div class="navbar-item">
            <div class="buttons">
                <a class="button">
                    Log out
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>
